<div class="container">

    <div class="headertext" style="margin-top: 3em;">How was your day?</div>
    <div style="display:flex; flex-direction: row; margin-top: -2em;">
        <div class="headertext">tell your story with SoftlySpoken. </div>

    </div>

    <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="margin: 0; ">
        <div class="regular slider">
            <% for(var i=0; i<17; i++) { %>
                <%- include('partials/card', {id: i}); %>
                    <% } %>
        </div>
    </div>
    <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="padding-bottom: 1em; justify-content:flex-end; margin :0; ">
        <a class="myButton" id="see-more " href="/recentlypodcast "><span>see more</span><span
                class="glyphicon glyphicon-menu-hamburger "></span></a>
    </div>
    <div class="content ">
        <ul class="menu-bar ">
            <li><a href="# ">Love</a></li>
            <li><a href="# ">Study</a></li>
            <li><a href="# ">Ghost Story</a></li>
            <li><a href="# ">Heath</a></li>
            <li><a href="# ">Entertainment</a></li>
        </ul>

    </div>
    <div class="headertext" style="margin-top: 3em; color:black;">Study</div>
    <div class="row" style="margin: 0; ">
        <header class="regular slider ">
            <% for(var i=18; i<36; i++) { %>
                <%- include('partials/card', {id: i}); %>
                    <% } %>

        </header>
    </div>
    <div class="row" style="padding-bottom: 1em; justify-content:flex-end; margin :0; ">
        <a class="myButton" id="see-more " href="/entertainpodcast "><span>see more</span><span
                class="glyphicon glyphicon-menu-hamburger "></span></a>
    </div>

    <div class="headertext" style="margin-top: 3em; color:black;">Love</div>
    <div class="row" style="margin: 0; ">
        <header class="regular slider ">
            <% for(var i=36; i<54; i++) { %>
                <%- include('partials/card', {id: i}); %>
                    <% } %>

        </header>
    </div>
    <div class="row" style="padding-bottom: 1em; justify-content:flex-end; margin :0; ">
        <a class="myButton" id="see-more " href="/heathpodcast "><span>see more</span><span
                class="glyphicon glyphicon-menu-hamburger "></span></a>
    </div>

    <div class="headertext" style="margin-top: 3em; color:black;">Health</div>
    <div class="row" style="margin: 0; ">
        <header class="regular slider ">
            <% for(var i=36; i<54; i++) { %>
                <%- include('partials/card', {id: i}); %>
                    <% } %>

        </header>
    </div>
    <div class="row" style="padding-bottom: 1em; justify-content:flex-end; margin :0; ">
        <a class="myButton" id="see-more " href="/lovepodcast "><span>see more</span><span
                class="glyphicon glyphicon-menu-hamburger "></span></a>
    </div>

    <div class="headertext" style="margin-top: 3em; color:black;">Entertainment</div>
    <div class="row" style="margin: 0; ">
        <header class="regular slider ">
            <% for(var i=36; i<54; i++) { %>
                <%- include('partials/card', {id: i}); %>
                    <% } %>

        </header>
    </div>
    <div class="row" style="padding-bottom: 1em; justify-content:flex-end; margin :0; ">
        <a class="myButton" id="see-more " href="/studypodcast "><span>see more</span><span
                class="glyphicon glyphicon-menu-hamburger "></span></a>
    </div>

</div>
<footer>
    <div class="footer-area ">

    </div>
</footer>